// ------------------------------------
// Beta Studio: CSS > Plugin: Ecommerce
// ------------------------------------

// -----------------------------
// #Table of Contents
// -----------------------------

// 1. #PRODUCT FILTERS


// -----------------------------
// 1. #Product Filters
// -----------------------------

.product-filters {
	margin: 10px 0 20px;
}

// Filter Form Groups
// ------------------

.form-group.product-listing__form-group {
	display: inline-block;
	padding: 20px 0px 0 30px
}

// Filter Select Inputs
// --------------------

select {
	height: 40px;
	outline: none;
	border: 1px solid darken(@color-swatch1,15%);
	border-radius: 0;
	background-color: @color-swatch1;
	text-indent: 0;
	&:hover, &:focus {
		background-color: @color-swatch1;
	}
}