{% extends "layout.twig" %}

{% block content %}

<!-- Default Page Content -->
<section class="content">

	<section class="default-page">

		{% include "includes/header.twig" %}

		<!-- Navigation Bar -->
		<div class="navigation-bar">

			<div class="container">
				{{widget('navigation', 'navigation', {"align":"center"})|raw}}
				{{widget('ecombasket', 'ecombasket', {})|raw}}
			</div>

		</div>

		<!-- Zone Content -->
		<div class="zone-content">

			<div class="container">
				<!-- Main Widet Zone -->
		   		{{zone('main')|raw}}	
			</div>

		</div>

		<!-- End Zone Content -->

	   {% include "includes/footer.twig" %}

	</section>

<!-- End Default Page Content -->
</section>

{% endblock %}
