<!-- Footer -->
<footer class="theme-footer">

	<div class="container">
		{{widget('content', 'footer__column1_content--1', {"content":"<h4>Aliquam Sodales</h4>"})|raw}}
        {{widget('profile', 'footer__column1_profile--email', { 'profileType':'email', 'email':'profile'})|raw}}
        {{widget('profile', 'footer__column1_profile--phone', { 'profileType':'phone', 'phone':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->